<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,753},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,889},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,878},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,873},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,889},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>btnRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{126,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0.5,0},{126,381}}</string>
                <key>sourceSize</key>
                <string>{127,381}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{83,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,381}}</string>
                <key>sourceSize</key>
                <string>{83,381}</string>
            </dict>
            <key>colour.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{378,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,378}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,275},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0.5},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,607},{120,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,158}}</string>
                <key>sourceSize</key>
                <string>{120,158}</string>
            </dict>
            <key>paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,769},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0.5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>qiangzhuangshezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,661},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0.5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>greenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,542},{221,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,207}}</string>
                <key>sourceSize</key>
                <string>{221,207}</string>
            </dict>
            <key>wineffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,450},{221,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,207}}</string>
                <key>sourceSize</key>
                <string>221,207{}</string>
            </dict>
            <key>press-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,774},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,160},{94,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{-0.5,0.5},{94,111}}</string>
                <key>sourceSize</key>
                <string>{95,112}</string>
            </dict>
            <key>quickset.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,753},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0.5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1.5},{440,383}}</string>
                <key>sourceSize</key>
                <string>{450,390}</string>
            </dict>
            <key>zhuxiazhujiashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{243,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,226}}</string>
                <key>sourceSize</key>
                <string>{243,226}</string>
            </dict>
            <key>quickrobset.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,387},{231,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,59}}</string>
                <key>sourceSize</key>
                <string>{231,59}</string>
            </dict>
            <key>money-button22.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,384},{219,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,50}}</string>
                <key>sourceSize</key>
                <string>{219,50}</string>
            </dict>
            <key>fushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,384},{154,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,51}}</string>
                <key>sourceSize</key>
                <string>{154,51}</string>
            </dict>
            <key>lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{154,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,51}}</string>
                <key>sourceSize</key>
                <string>{154,51}</string>
            </dict>
            <key>xiazhujilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,389},{228,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,117}}</string>
                <key>sourceSize</key>
                <string>{228,121}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,607},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>resultbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,387},{226,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,110}}</string>
                <key>sourceSize</key>
                <string>{228,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dicepic-2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e35036d62e0efefa882086628a0f81d$</string>
            <key>textureFileName</key>
            <string>dicepic-2.png</string>
        </dict>
    </dict>
</plist>
