<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>word_bindphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,59}}</string>
                <key>sourceSize</key>
                <string>{232,59}</string>
            </dict>
            <key>word_title_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{232,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,58}}</string>
                <key>sourceSize</key>
                <string>{232,58}</string>
            </dict>
            <key>word_rewardrecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{231,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3.5},{231,82}}</string>
                <key>sourceSize</key>
                <string>{231,89}</string>
            </dict>
            <key>word_title_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{231,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,58}}</string>
                <key>sourceSize</key>
                <string>{231,58}</string>
            </dict>
            <key>word_querenzhuanzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,88},{206,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,55}}</string>
                <key>sourceSize</key>
                <string>{206,55}</string>
            </dict>
            <key>word_backrandom.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{204,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,55}}</string>
                <key>sourceSize</key>
                <string>{204,55}</string>
            </dict>
            <key>word_title_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{173,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{173,82}}</string>
                <key>sourceSize</key>
                <string>{173,86}</string>
            </dict>
            <key>word_myreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,88},{204,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,55}}</string>
                <key>sourceSize</key>
                <string>{204,55}</string>
            </dict>
            <key>word_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,147},{204,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,55}}</string>
                <key>sourceSize</key>
                <string>{204,55}</string>
            </dict>
            <key>word_lacaijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{155,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,55}}</string>
                <key>sourceSize</key>
                <string>{155,55}</string>
            </dict>
            <key>word_title_shangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{139,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,77}}</string>
                <key>sourceSize</key>
                <string>{139,77}</string>
            </dict>
            <key>word_yanzhengma.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,61},{153,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,33}}</string>
                <key>sourceSize</key>
                <string>{153,33}</string>
            </dict>
            <key>word_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,147},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>word_caijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,206},{133,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,57}}</string>
                <key>sourceSize</key>
                <string>{133,57}</string>
            </dict>
            <key>word_title_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{133,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,58}}</string>
                <key>sourceSize</key>
                <string>{133,58}</string>
            </dict>
            <key>word_title_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{133,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,58}}</string>
                <key>sourceSize</key>
                <string>{133,58}</string>
            </dict>
            <key>wrod_title_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,275},{132,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,57}}</string>
                <key>sourceSize</key>
                <string>{132,57}</string>
            </dict>
            <key>word_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,98},{123,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,45}}</string>
                <key>sourceSize</key>
                <string>{123,45}</string>
            </dict>
            <key>word_username.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,193},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>word_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,147},{119,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,53}}</string>
                <key>sourceSize</key>
                <string>{119,53}</string>
            </dict>
            <key>word_qiangzhuangnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,193},{104,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,26}}</string>
                <key>sourceSize</key>
                <string>{104,26}</string>
            </dict>
            <key>word_zaijiezaili.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>word_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{118,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,55}}</string>
                <key>sourceSize</key>
                <string>{118,55}</string>
            </dict>
            <key>word_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,356},{119,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,55}}</string>
                <key>sourceSize</key>
                <string>{119,55}</string>
            </dict>
            <key>word_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,206},{118,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,55}}</string>
                <key>sourceSize</key>
                <string>{118,55}</string>
            </dict>
            <key>word_register2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,147},{118,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,55}}</string>
                <key>sourceSize</key>
                <string>{118,55}</string>
            </dict>
            <key>word_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,301},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>word_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{93,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,48}}</string>
                <key>sourceSize</key>
                <string>{93,48}</string>
            </dict>
            <key>word_yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,418},{92,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{92,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>words-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e35036d62e0efefa882086628a0f81d$</string>
            <key>textureFileName</key>
            <string>words-1.png</string>
        </dict>
    </dict>
</plist>
