<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,4},{937,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{937,217}}</string>
                <key>sourceSize</key>
                <string>{955,227}</string>
            </dict>
            <key>small-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{876,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{876,180}}</string>
                <key>sourceSize</key>
                <string>{878,182}</string>
            </dict>
            <key>btnsmallblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{180,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,66}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
            <key>tankuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{32,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,310}}</string>
                <key>sourceSize</key>
                <string>{32,310}</string>
            </dict>
            <key>querenxiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,186},{180,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,66}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
            <key>loadingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{242,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1.5},{242,241}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>head-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,370},{468,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,84}}</string>
                <key>sourceSize</key>
                <string>{468,84}</string>
            </dict>
            <key>flow.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,223},{140,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,55}}</string>
                <key>sourceSize</key>
                <string>{140,55}</string>
            </dict>
            <key>cizuo-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,370},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zhanghu-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,407},{155,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,189}}</string>
                <key>sourceSize</key>
                <string>{155,189}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,842},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>btnclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,600},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,424},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,407},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0.5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,842},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0.5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>btnblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,720},{246,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,96}}</string>
                <key>sourceSize</key>
                <string>{246,96}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,600},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0.5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>bgtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,464},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>commontips.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,407},{305,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,92}}</string>
                <key>sourceSize</key>
                <string>{305,92}</string>
            </dict>
            <key>word-button.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,962},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>press-key.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,842},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>qianseyuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,527},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>btngreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,407},{246,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,96}}</string>
                <key>sourceSize</key>
                <string>{246,96}</string>
            </dict>
            <key>shenseyuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,962},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>btnorange.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,842},{246,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,96}}</string>
                <key>sourceSize</key>
                <string>{246,96}</string>
            </dict>
            <key>bg_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,527},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,507},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{190,60}</string>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,952},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ON.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,942},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{190,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e35036d62e0efefa882086628a0f81d$</string>
            <key>textureFileName</key>
            <string>dialog-1.png</string>
        </dict>
    </dict>
</plist>
